<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" type="image/gif" href="/favicon.gif">
    <title>XML 2 CSV</title>
  </head>
  <body>
    <h1>XML 2 CSV</h1>
    <hr>
    <form method="get">
      <p>
      <input type="hidden" name="browse" value="1">
      <label for="url">
      <span class="label">URL:</span>
      <input type="text" name="url" value="{{ url }}" id="url" placeholder="http://www.example.com/data.xml" style="width: 90%"></label><br>
      <input type="submit" value="Browse">
      </p>
    </form>
    {% if output %}
    <hr>
    <h3>Output:</h3>
    <p><b>{{ header }}</b><br>{{ output }}</p>
    <p>Permalinks: <a href="?{{ link }}">without header</a>, <a href="?header=1&amp;{{ link }}">with header</a></p>
    {% endif %}
    {% if browse %}
    <hr>
    <h3>{% if output %}Add{% else %}Choose{% endif %} value:</h3>
    <p>{{ browse|safe }}</p>
    {% endif %}
    <hr>
    <p>
      <a href="http://www.w3.org/html/logo/"><img
          src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png"
          width="63" height="64" alt="HTML5 Powered" title="HTML5 Powered"></a>
    </p>
  </body>
</html>
