<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="icon" type="image/gif" href="/favicon.gif" />
    <title>XML 2 CSV</title>
  </head>
  <body>
    <h1>XML 2 CSV</h1>
    <hr/>
    <form method="get" action="">
      <p>
      <input type="hidden" name="browse" value="1"/>
      <label for="url">
      <span class="label">URL:</span>
      <input type="text" name="url" value="{{ url|escape }}" id="url" style="width: 90%"/></label><br/>
      <input type="submit" value="Browse"/>
      </p>
    </form>
    {% if output %}
    <hr/>
    <h3>Output:</h3>
    <p>{{ output }}</p>
    <p><a href="?{{ link }}">Permalink</a></p>
    {% endif %}
    {% if browse %}
    <hr/>
    <h3>{% if output %}Add{% else %}Choose{% endif %} value:</h3>
    <p>{{ browse }}</p>
    {% endif %}
    <hr/>
    <p>
      <a href="http://validator.w3.org/check?uri=referer"><img
          src="http://www.w3.org/Icons/valid-xhtml10" style="border: none"
          alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
    </p>
  </body>
</html>